body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

header {
  width: 100%;
  border-bottom: 1px solid black;
}

header h1 {
  display: inline-block;
  padding-left: 5%;
  font-size: 25px;
}

header .plank {
  height: 20px;
  background-color: black;
}

button {
  display: inline-block;
  font-size: 14px;
  line-height: 22px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

.container {
  box-sizing: border-box;
  width: 100%;
  padding: 0 5%;
}

.container::after {
content: "";
display: block;
width: 100%;
height: 0;
clear: both;
}

.filters-block {
  float: left;
  padding-top: 30px;
}

.filters-block input {
  font-size: 14px;
  line-height: 22px;
  border: 1px solid black;
}

.filters-block p {
  text-transform: uppercase;
}

.filters-block ul {
  margin: 0;
  padding: 0;
}

.filters-block li {
  list-style-type: none;
  font-size: 14px;
  line-height: 20px;
}

.filters-block .levels {
  float: left;
  margin-right: 20px;
}

.filters-block .types {
  float: left;
}

.vehicles-block {
  float: left;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 18px;
}

.vehicles-block .vehicle {
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0;
  background-color: #d9d9d9;
  border: 1px solid #bfbfbf;
  font-size: 14px;
  line-height: 20px;
}

.vehicles-block .vehicle::after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  clear: both;
}

.vehicles-block .vehicle:last-child {
  margin-bottom: 50px;
}

.vehicles-block .vehicle button {
  float: right;
  width: 30px;
  height: 30px;
  margin: 5px;
  padding: 5px;
  background-color: #d9d9d9;
}

.vehicles-block .vehicle button img {
  width: 15px;
  height: 15px;
}

.vehicles-block .vehicle .vehicle-properties {
  float: left;
  margin: 10px 30px;
}

.vehicles-block .vehicle .vehicle-position {
  float: right;
  margin: 10px 30px;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 250px;
  height: 200px;
  box-sizing: border-box;
  margin: -100px 0 0 -125px;
  padding: 25px;
  background-color: #999999;
  border: 1px solid #737373;
}

.popup input, .popup select {
  font-size: 14px;
  line-height: 22px;
  border: 1px solid black;
}

.popup input {
  margin: 20px 0 10px 0;
}

.popup select {
  margin: 0 0 25px 0;
}

.popup .button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.popup .button-container button {
  width: 90px;
}
